<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-firebase-intercom" version="0.0.1">
  <name>Google Firebase Intercom Integration</name>
  <description>Google Firebase Intercom Integration Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,firebase,intercom</keywords>
  <platform name="android">
    <framework src="com.google.firebase:firebase-core:+" />
    <framework src="com.google.firebase:firebase-messaging:+" />
  </platform>
</plugin>
